.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
body { 
  max-width: 54em;
  padding:0 1em;
}

header {
  height:5em;
  background: #313131;
  color:#dddddd;
  margin: 0 auto 1.5em;
}

#main {
  margin:0 auto 1.5em;
}

form {
  padding:1.5em;
  background: #bbbbbb;
}
form div {
  margin-bottom: 5.em;
  border: .125em solid #313131;
  color:#1b1b1b;
  border-radius: .25em;
}


  label {
    margin-bottom: .25em;
  }

  input {
    padding: 1em 2.5em;
    border: .125em #313131 solid;
    border-radius:.25em;
  }

article:nth-child(even){
  background: rgb(172, 172, 172);
}